    <div id="photo-new" class="form-page contact-main upload small">
      <img alt="Open" id="simple-menu" class="icon-menu" src="https://content.codecademy.com/projects/z2d/stories/menu-white.svg" />
      <div class="container"> 
        <h1>New photo</h1> 
        <div class="form form-column">
            
          <%= form_for(:photo, :url => album_path, :method => "patch", :html => { :class => "form-section" }) do |f| %>
            <label for="image">Image URL</label>
            <%= f.text_field :image %>
            <br><br>
            <label for="caption">Caption</label>
            <%= f.text_field :caption %>
            <br><br><br>
            <%= f.submit "Upload", :class => "btn btn-submit" %>
          <% end %>
            
        </div>
      </div>
    </div>
